{% extends "base.jinja2.html" %}
{% block title %}Edit {{issue['issue_id']}} - {{issue['title']}}{% endblock %}
{% block content %}
    {% for parent in parents %}
    <div style="margin-left: {{parent['m']}}0px"><a href="{{url_for('issue', issue_id=parent['issue_id'])}}">{{parent['issue_id']}}</a> &mdash; {{parent['title']}} ({{parent['total_completed_points']}}/{{parent['total_points']}})</div>
    {% endfor %}
    <h1>Issue {{issue['issue_id']}} &mdash; {{issue['title']}}</h1>
    <div>
    {% if issue['completed_points'] and issue['points'] %}
    <div> Points: {{issue['completed_points']}}/{{issue['points']}} </div>
    {% elif issue['points'] %}
    <div> Points: {{issue['points']}} </div>
    {% endif %}
    <div> Total Points: {{issue['total_completed_points']}}/{{issue['total_points']}} </div>
    <div><a href="{{url_for('issue_edit', issue_id=issue['issue_id'])}}">Edit</a></div>
    <hr>
    {% for child in children %}
    <div style="margin-left: {{child['n']}}0px"><a href="{{url_for('issue', issue_id=child['issue_id'])}}">{{child['issue_id']}}</a> &mdash; {{child['title']}} ({{child['total_completed_points']}}/{{child['total_points']}})</div>
    {% endfor %}
    <form action="/issue" method=post>
      <input type=hidden name=parent value={{issue['issue_id']}}>
      <label for=title>New Issue Title</label>
      <input id=title name=title>
      <input type=submit value="Create Issue">
    </form>
    </div>
    <p>
    {% if issue['description'] %}
    {{issue['description']}}
    {% else %}
    <i>No Description</i>
    {% endif %}
    </p>
    <hr>
    <h2>Sprints</h2>
    {% for sprint in sprints %}
    <div><a href="{{url_for('sprint', sprint_id=sprint['sprint_id'])}}">{{sprint['sprint_id']}}: {{sprint['title']}}
      {% if sprint['start'] is not none and sprint['end'] is not none%}
        {{sprint['start'].isoformat()}} &mdash; {{sprint['end'].isoformat()}}</a></div>
      {% endif %}
    {% endfor %}
    <hr>
    <h2>Notes</h2>
    {% for note in notes %}
    <div>
      <div><small>{{note['author']}} &mdash; {{note['created_at']}}</small></div>
      {{note['body']}}
    </div>
    {% endfor %}
    <hr>
    <form action="/note" method=post>
      <input type=hidden name=issue_id value={{issue['issue_id']}}>
      <textarea name=body id=body></textarea>
      <input type=submit value="Add Note">
    </form>
{% endblock %}
