<html>
  <body>
    <h1>Sprint {{sprint['sprint_id']}}</h1>
    <table>
      <thead>
        <tr>
          <th>Link</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
      {% for issue in issues %}
        <tr>
          <td><a href="{{url_for('issue', issue_id=issue['issue_id'])}}">{{issue['issue_id']}}</a></td>
          <td>{{issue['title']}}</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
    <form action="/issue" method=post>
      <input type=hidden name=sprint_id value={{sprint['sprint_id']}}>
      <label for=title>New Issue Title</label>
      <input id=title name=title>
      <input type=submit value="Create Issue">
    </form>
  </body>
</html>
